$main-color: #041419; //bg-color
$sub-color: #b8ced3; //sub-color

$font-white: #fff; //main font color
$font-white-800: rgba(255, 255, 255, 0.2);
$font-white-750: rgba(255, 255, 255, 0.25);
$font-white-500: rgba(255, 255, 255, 0.5);


$white : #fff;
$white-800 : rgba(255, 255, 255, 0.2);

$text-shadow: #010405; //text-shadow color
