@font-face {
    font-family: 'Copperplate Gothic Light';
    font-style: normal;
    font-weight: normal;
    src: local('/assets/Copperplate Gothic Light'), url('/assets/copperplate-gothic-light.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
//font-family: 'Nanum Myeongjo', serif;