<!DOCTYPE html>
<html lang="ko">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>FitMyRoom</title>
    
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				menu: '#menu',
				anchors: ['firstPage', 'SecondPage', '3rdPage', '4thPage'],
				navigation: true,
				navigationPosition: 'left',
				navigationTooltips: ['INTRO', 'HISTORY', 'PRODUCT', 'ISSUES']
			});
		});
	</script>
</head>

<body>

<div id="fullpage">
	
	<nav id="menu" class="top-nav">
		<div class="logo-box">
			<a data-menuanchor="firstPage" href="#firstPage"><img class="logo" src="/assets/jaeger-leCoultre-logo.svg"></a>
		</div>
		<ul class="sns">
			<li><img class="icon" src="/assets/insta.png">Instagram</li>
			<li><img class="icon" src="/assets/facebook.png">Facebook</li>
			<li><img class="icon" src="/assets/twitter.png">Twitter</li>
			<li><img class="icon" src="/assets/email.png">Email</li>
		</ul>
	</nav>

	<div class="section" id="section0">
		<div class="intro">
			<div class="clock">
				<img src="/assets/section0/intro-bg-center.png"/>
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="history">
			<div class="history-image-box">
				<img class="history-image" src="/assets/section1/1833.png">
			</div>
			<div class="history-description">
				<p id="1833">앙트완 르쿨트르(Antoine LeCoultre)가 스위스 쥐라 국경지대에 예거 르쿨트르의 최초 시계공방을 설립했습니다.</p>
				<p id="1844">앙트완 르쿨트르가 개발한 밀리오노미터(Millionometre)는 마이크론 단위까지 측정할 수 있는 최초의 기구로 보다 정교한 시계 부품 제작이 가능해졌습니다.</p>
				<p id="1866">앙트완 르쿨트르의 아들인 엘리 르쿨트르의 지휘 아래 모든 시계 제조 기술은 서서히 한 곳으로 집중되었습니다.</p>
				<p id="1903">앙트완 르쿨트르의 손자인 자크 데이비드 르쿨트르는 파리 시계 제조업자 에드몽 예거(Edmond Jaeger)가 스위스 시계제조업체들에게 내밀었던 도전장을 받아들이고 울트라 씬 시계를 개발하기 시작합니다.</p>
				<p id="1928">장-레옹 휘테(Jean-Léon Reutter)가 발명하고 르쿨트르 & 씨(LeCoultre & Cie) 매뉴팩처가 개발한 애트모스 펜듈럼은 클래식하면서 아방가르드한 분위기를 자아냅니다. 실내 온도가 단 1도만 변해도 에너지를 저장하여 이틀간 작동할 수 있습니다.</p>
				<p id="1929">초소형 수동 와인딩 칼리버인 칼리버 101을 제작하기 위해 워치메이커들은 듀오플랜 무브먼트를 더 축소했습니다. 사용된 98개 부품의 전체 무게는 1그램도 되지 않습니다.</p>
				<p id="1931">케이스 뒷면에 숨겨진 이야기를 알고 계시나요? 인도에서 근무하던 영국 장교들이 폴로 경기를 하는 중에도 파손되지 않고 착용할 수 있을 정도로 튼튼한 시계를 만들어 달라는 요청에 의해 탄생된 시계입니다.</p>
				<p id="1958">정확성, 높은 강도, 자기장 저항 기능을 탑재하고 1958년 출시된 지오피직 크로노미터는 시간의 신뢰도를 상징하는 타임피스 입니다.</p>
				<p id="1968">메종의 아이콘인 알람 기능을 갖춘 다이빙 시계는 수중에서 소리의 전파를 최적화할 수 있는 특허받은 트리플 케이스백 시스템을 장착하고 있습니다. </p>
				<p id="2007">1880년대의 크로노미터에서 영감을 받은 듀오미터 컬렉션은 듀얼 윙 컨셉을 기반으로 설계되었습니다. 두 개의 독립된 매커니즘 : 시간의 정확성을 담당하는 파트와 컴플리케이션 기능을 관장하는 두 개의 매커니즘이 하나의 레귤레이팅 기관을 공유하고 있습니다. </p>
				<p id="2013">마스터 그랑 트래디션 자이로투르비옹 3 주빌리는 자이로투르비옹의 새로운 버전으로 브릿지가 없는 것이 특징입니다. 인스턴트 디지털 카운터를 장착한 크로노그래프는 이 메종의 혁신성을 오롯이 드러내는 기술적 위업입니다. </p>
				<p id="2018">1968년 탄생한 아이코닉 메모복스 폴라리스에서 영감을 받은 그랑 메종은 워치메이킹 노하우와 현대적이고 스포티한 품격이 어우러진 예거 르쿨트르 폴라리스 컬렉션을 새롭게 출시했습니다. </p>
			</div>
		</div>
		<ul class="timeline">
			<li><a class="year" href="#1833">1833</a></li>
			<li><a class="year" href="#1844">1844</a></li>
			<li><a class="year" href="#1866">1866</a></li>
			<li><a class="year" href="#1903">1903</a></li>
			<li><a class="year" href="#1928">1928</a></li>
			<li><a class="year" href="#1929">1929</a></li>
			<li><a class="year" href="#1931">1931</a></li>
			<li><a class="year" href="#1958">1958</a></li>
			<li><a class="year" href="#1968">1968</a></li>
			<li><a class="year" href="#2007">2007</a></li>
			<li><a class="year" href="#2013">2013</a></li>
			<li><a class="year" href="#2018">2018</a></li>
		</ul>
	</div>
	<div class="section" id="section2">
		<div class="product-list">
			<ul class="list-part">
				<li class="list" id="reverso">
					<span class="ko-list">리베르소</span>
					<span class="en-list">REVERSO</span>
				</li>
				<li class="list" id="rendez-vous">
					<span class="ko-list">랑데부</span>
					<span class="en-list">RENDEZ-VOUS</span>
				</li>
				<li class="list" id="master">
					<span class="ko-list">마스터</span>
					<span class="en-list">MASTER</span>
				</li>
				<li class="list" id="jaeger-lecoultre-polaris">
					<span class="ko-list">예거 르쿨트르 폴라리스</span>
					<span class="en-list">JAEGER-LECOULTRE POLARIS</span>
				</li>
				<li class="list" id="geophysic">
					<span class="ko-list">지오피직</span>
					<span class="en-list">GEOPHYSIC</span>
				</li>
				<li class="list" id="duometre">
					<span class="ko-list">듀오미터</span>
					<span class="en-list">DUOMETRE</span>
				</li>
				<li class="list" id="atmos">
					<span class="ko-list">애트모스</span>
					<span class="en-list">ATMOS</span>
				</li>
				<li class="list" id="hybris-mechanica">
					<span class="ko-list">히브리스 매카니카</span>
					<span class="en-list">HYBRIS MECHANICA</span>
				</li>
			</ul>
		</div>
		<!------------product info:hide------------->
		<div class="product-info">
			<select class="selectbox">
				<option class="watch" val="reverso">
					<span class="list-name">리베르소 REVERSO</span>
				</option>
				<option class="watch" val="rendez-vous">
					<span class="list-name">랑데부 RENDEZ-VOUS</span>
				</option>
				<option class="watch" val="master">
					<span class="list-name">마스터 MASTER</span>
				</option>
				<option class="watch" val="jaeger-lecoultre-polaris">
					<span class="list-name">예거 르쿨트르 폴라리스 JAEGER-LECOULTRE POLARIS</span>
				</option>
				<option class="watch" val="geophysic">
					<span class="list-name">지오피직 GEOPHYSIC</span>
				</option>
				<option class="watch" val="duometre">
					<span class="list-name">듀오미터 DUOMETRE</span>
				</option>
				<option class="watch" val="atmos">
					<span class="list-name">애트모스 ATMOS</span>
				</option>
				<option class="watch" val="hybris-mechanica">
					<span class="list-name">히브리스 매카니카 HYBRIS MECHANICA</span>
				</option>
			</select>
			<div class="back">BACK</div>
			<div class="product-image-box">
				<img class="product-image" src="/assets/section2/reverso.png">
			</div>
			<div class="product-name-nav">
				<div class="product-nav left"></div>
				<div class="product-name active" id="watch-reverso">
					<span class="product-ko-name">리베르조 클래식 스몰</span>
					<span class="product-en-name">Reverso classic small</span>
				</div>
				<div class="product-name" id="watch-rendez-vous">
					<span class="product-ko-name">랑데부 문 미디엄</span>
					<span class="product-en-name">Rendez vous moon medium</span>
				</div>
				<div class="product-name" id="watch-master">
					<span class="product-ko-name">마스터 울트라 씬 데이트</span>
					<span class="product-en-name">Master ultra thin date</span>
				</div>
				<div class="product-name" id="watch-jaeger-lecoultre-polaris">
					<span class="product-ko-name">예거 르쿨트르 폴라리스 메모복스</span>
					<span class="product-en-name">Jaeger leCoultre polaris memovox</span>
				</div>
				<div class="product-name" id="watch-geophysic">
					<span class="product-ko-name">지오피직 투르비옹 유니버설 타임</span>
					<span class="product-en-name">Geophysic tourbillon universal time</span>
				</div>
				<div class="product-name" id="watch-duometre">
					<span class="product-ko-name">듀오미터 스페로투르비옹</span>
					<span class="product-en-name">Duometre spherotourbillon</span>
				</div>
				<div class="product-name" id="watch-atmos">
					<span class="product-ko-name">애트모스 클래식 문페이즈</span>
					<span class="product-en-name">Atmos classique phases de lune</span>
				</div>
				<div class="product-name" id="watch-hybris-mechanica">
					<span class="product-ko-name">히브리스 메카니카 그랑 소네리</span>
					<span class="product-en-name">Hybris mechanica a grande sonnerie</span>
				</div>
				<div class="product-nav right"></div>
			</div>
			<div class="product-more-button"><span>+ 더보기</span></div>
		</div>
		
		<div class="company-name-box">
			<img class="company-name" src="/assets/section2/company-name.png">
		</div>
	</div>
	<div class="section" id="section3">
		<div class="issues">
			<div class="card-nav left"></div>
			<div class="card-nav right"></div>
			<div class="card-container">
				<div class="card active" id="20181031">
					<div class="card-align">
						<p class="card-date">2018-10-31</p>
						<p class="card-title">예거 르쿨트르의 예술적 독창성은 세 가지의 리베르소 트리뷰트 에나멜 제품들로 표현 되었습니다.</p>
						<p class="card-subtitle">에나멜링과 인그래이빙 기법이 돋보이도록, 그랑 메종은 예술작품과 같은 듀얼페이스의 리베르소를 선보입니다. 다이얼 앞면은 정교한 수공 기요셰 패턴과 반투명한 그랑 퓨 에나멜로 장식했습니다. 뒷면에는 에나멜 처리된 미니어처 예술작품이 담겨 있습니다.</p>
						<span class="card-button">자세히보기</span>
					</div>
				</div>
			<div class="card" id="20180911">
				<div class="card-align">
						<p class="card-date">2018-09-11</p>
						<p class="card-title">예거 르쿨트르, 제75회 베니스 국제영화제에서 빛을 발하다</p>
						<p class="card-subtitle">베니스 국제영화제가 진행되는 동안 예거 르쿨트르 시계는 레드 카펫과 그랑 메종이 주최한 행사에서 스타들의 손목을 아름답게 장식했습니다. 이 매혹적인 순간의 사진들을 둘러보십시오.</p>
						<span class="card-button">자세히보기</span>
					</div>
				</div>
			<div class="card" id="20180904-1">
				<div class="card-align">
					<p class="card-date">2018-09-04</p>
					<p class="card-title">2018년 베니스영화제에서 감독상을 수상한 중국의 장이머우(ZHANG YIMOU) 감독이 예거 르쿨트르 글로리 투 더 필름 메이커 어워드를 받았습니다</p>
					<p class="card-subtitle">베니스영화제와 예거 르쿨트르는 중국이 배출한 위대한 장이머우 감독(‘영웅’, ‘홍등’, ‘국두’ 감독. 1992년 ‘귀주 이야기’ 및 1999년 ‘책상 서랍 속의 동화’로 베니스영화제 황금사자상 2회 수상)이 2018년 제75회 베니스국제영화제(2018년 8월 29일~9월 8일)에서 예거 르쿨트르 글로리 투 더 필름메이커 어워드를 수상했다는 소식을 기쁜 마음으로 발표합니다.</p>
					<span class="card-button">자세히보기</span>
				</div>
			</div>
				<div class="card" id="20180904-2">
					<div class="card-align">
						<p class="card-date">2018-09-04</p>
						<p class="card-title">베니스에서 개최된 호모 파베르(HOMO FABER) 전시회에 참여하는 예거 르쿨트르</p>
						<p class="card-subtitle">예거 르쿨트르는 2018년 9월 14일부터 30일까지 호모 파베르(Homo Faber) 전시회에 참여하여 독특한 칼리버 101을 통해 시계 제조법을 선보이게 되어 벅찬 기쁨을 숨길 수 없습니다.</p>
						<span class="card-button">자세히보기</span>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>COPYRIGHT ⓒ 2018</p>
			<p>ALL RIGHTS RESERVED BY YUJIN HWANG</p>
		</div>
	</div>
</div>

    
</body>


</html>